<!--BANNER-->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/high-resolution/monkey_caring.png');">
      <div class="banner-content padded" style="padding-top: 50%;">
        <p style="font-size: 40px;"><em>"... and when love speaks, the voice of all the gods makes heaven drowsy with the harmony."</em></p>
      </div>
    </div>
