---
title: Le Wagon Middleman boilerplate
---

<!--BANNER-->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/high-resolution/monkey_flowers.png');">
      <div class="banner-content col-xs-12">
        <h1>WELCOME PRIMATES!</h1>
        <p>Find love like <em>millions</em> of monkeys have- right here on <strong>eHarmonkey !</strong></p>
        <form action="http://kobenhavn.backpage.com/" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="name">
          <input type="text" class="form-control input-lg" placeholder="location">
          <select name="" id="" class="form-control input-lg">
            <option value="1">M for F</option>
            <option value="2">F for M</option>
            <option value="3">M for M</option>
            <option value="3">F for F</option>
          </select>
          <input type="submit" class="btn btn-primary btn-lg" value="Match!">
        </form>
      </div>
    </div>
<!--FEATURES-->
  <div class="wrapper-grey">
    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/icons/globe.png" alt="">
          <h2>Global Love</h2>
          <p>Connect with lonely primates across the planet</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/icons/dollar.png" alt="">
          <h2>Free Trail</h2>
          <p><em>After 30 days, you will be billed 2 dozen bananas month</em></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/icons/heart.png" alt="">
          <h2>Fall in Love</h2>
          <p>Find your soulmonkey</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <img src="images/icons/banana_icon2.png" alt="">
          <h2>BANANA</h2>
          <p>... something else goes here</p>
        </div>
      </div>
    </div>
  </div>
<!--CARDS-->
<div class="container">
  <div class="row">
    <% data.singles.each do |monkey, profile| %>
    <div class="col-xs-12 col-md-6">
      <div class="card" style="background-image: url('images/high-resolution/card_background.png');">
        <div class="card-category"><%= profile.location %></div>
        <div class="card-description">
          <h2><%= "#{profile.name}: #{profile.age.to_s}" %></h2>
        </div>
        <%= image_tag profile.selfie, class:"card-user avatar avatar-xl" %>
        <%= link_to "#", "singles/#{monkey}.html", class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!--NEWSLETTER-->
  <div class="wrapper-grey">
    <div class="text-center padded" id="newsletter">
      <h2>Get the Latest News!</h2>
      <p>Enter your email to start recieving our newsletter</p>
      <form class="form-inline">
        <input type="email" placeholder="banana@hotmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>
  </div>
