<!--BANNER-->
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('images/high-resolution/jungle.png');">
      <div class="banner-content padded" style="padding-top: 50%;">
        <p style="font-size: 40px;"><strong>Under Construction!</strong></p>
      </div>
    </div>
